<h2>Create new user</h2>

<form [formGroup]="usersForm" (ngSubmit)="onSubmit()">
    <div class="form-group firstname-container">
        <label for="firstname">First name</label>
        <input 
            formControlName="firstname" 
            id="firstname" 
            class="form-control" 
            type="text" 
        />
        <div
            *ngIf="firstname.touched && firstname.invalid"
            class="alert alert-danger"
        >
            <div *ngIf="firstname.errors.required">
                First name is required
            </div>
            <div *ngIf="firstname.errors.minlength">
                First name must have at least {{ firstname.errors.minlength.requiredLength }} characters
            </div>
        </div>
    </div>
    <div class="form-group lastname-container">
        <label for="lastname">Last name</label>
        <input 
            formControlName="lastname" 
            id="lastname" 
            class="form-control" 
            type="text" 
        />
        <div
            *ngIf="lastname.touched && lastname.invalid"
            class="alert alert-danger"
        >
            <div *ngIf="lastname.errors.required">
                Last name is required
            </div>
            <div *ngIf="lastname.errors.minlength">
                Last name must have at least {{ lastname.errors.minlength.requiredLength }} characters
            </div>
        </div>
    </div>
    <div class="form-group username-container">
        <label for="username">Username</label>
        <input 
            formControlName="username" 
            autocomplete="username"
            id="username" 
            class="form-control" 
            type="text" 
        />
        <div
            *ngIf="username.touched && username.invalid"
            class="alert alert-danger"
        >
            <div *ngIf="username.errors.required">
                Username is required
            </div>
            <div *ngIf="username.errors.minlength">
                Username must have at least {{ username.errors.minlength.requiredLength }} characters
            </div>
        </div>
    </div>
    <div
        *ngIf="noPassword.value != true" 
        class="form-group password-container" 
    >
        <label for="password">Password</label>
        <input 
            formControlName="password" 
            autocomplete="new-password" 
            id="password" 
            class="form-control" 
            type="password" 
        />
        <div
            *ngIf="password.touched && password.invalid"
            class="alert alert-danger"
        >
            <div *ngIf="password.errors.required">
                password is required
            </div>
            <div *ngIf="password.errors.minlength">
                Password must have at least {{ password.errors.minlength.requiredLength }} characters
            </div>
            <div *ngIf="password.errors.maxlength">
                Password must have the max of {{ password.errors.maxlength.requiredLength }} characters
            </div>
        </div>
    </div>
    <div 
        *ngIf="noPassword.value != true" 
        class="form-group confirm-password-container" 
    >
        <label for="confirmPassword">Confirm Password</label>
        <input 
            formControlName="confirmPassword" 
            id="confirmPassword" 
            class="form-control" 
            type="password" 
        />
        <div
            *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors.required" 
            class="alert alert-danger" 
        >
            'Confirm Password' is required
        </div>
        <div 
            *ngIf="password.valid && confirmPassword.valid && usersForm.invalid && usersForm.errors.PasswordDoesNotMatch" 
            class="alert alert-danger"
        >
            'Confirm Password' does not match with the given Password
        </div>
    </div>


    <div class="form-group no-password-container" >
        <label>
            <input 
                formControlName="noPassword" 
                id="noPassword" 
                type="checkbox" 
            />
            Do not set password
        </label>
    </div>


    <button 
        [disabled]="usersForm.invalid" 
        class="btn btn-primary" 
        type="submit" 
    >
        Insert user
    </button>

    <div class="form-test-container">
        <h3>Form tests</h3>
        <!-- <p>usersForm: {{ usersForm | json }}</p> -->
        <p>is viewForm valid : {{ usersForm.valid }}</p>
        <p>is noPassword selected: {{ noPassword }}</p>
    </div>
</form>


<button class="btn btn-default" (click)="getLocalSampleData()">local sample data</button>
<button class="btn btn-default" (click)="getLocalUsers()">local users</button>
<button class="btn btn-default" (click)="getLocalUserById(2)">local user</button>

